.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Header Part */

.header-part {
  background-image: url(../Assets/Hero-bg.png);
  height: 698px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center; /* certer to center same line */
  height: 151px;
  width: 1600px;
  margin: auto;
}

.nav-logo {
  color: #4e47ff;
  font-weight: 900;
  font-size: 40px;
}

.nav-button {
  height: 56px;
  width: 156px;
  background-color: #4e47ff;
  border: none;
  color: #ffffff;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
}

.nav-button:hover {
  background-color: #3d368d; /* Green */
  color: white;
}

.banner {
  width: 1005px;
  height: 287px;
  margin: 100px auto;
  /* border: 1px solid red; */
  text-align: center;
}

.banner-description {
  font-size: 73px;
  font-weight: 700;
  color: #252432;
  text-align: center;
}

.banner-button {
  margin: auto;
  height: 56px;
  width: 176px;
  background-color: #4e47ff;
  border: none;

  color: #ffffff;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
}

.banner-button:hover {
  background-color: #3d368d;
  color: white;
}

/*<!-- action part  -->*/

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 116px auto;
  max-width: 1350px;
  height: 358px;
}

.left-side {
  height: 220px;
  max-width: 550px;
}

.title {
  font-weight: 700;
  font-size: 42px;
  margin: 0px 10px 5px 0px;
}

.subtitle {
  font-weight: 400;
  font-size: 24px;
  margin: auto;
}

.launch-live {
  margin: 10px 0px;
  height: 56px;
  width: 209px;
  background-color: #4e47ff;
  border: none;

  color: #ffffff;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
}

.launch-live:hover {
  background-color: #3d368d;
  color: white;
}

.action-image {
  border-radius: 48px;
  max-width: 410px;
  height: 358px;
}

/* <!-- Productive user part  --> */

.productive-user {
  border-radius: 24px;
  background-color: rgba(78, 71, 255, 0.1);
  text-align: center;
  margin: 100px auto;
  max-width: 1350px;
  height: 328px;
  gap: 50px;
}

.productive {
  align-content: center;
  max-width: 1050px;
  height: 206px;
  margin: auto;
}

.centered-title {
  font-size: 50px;
  font-weight: 700;
}

.scores {
  margin: -35px auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.score-card {
  max-width: 180px;
  height: 121px;
}

.score-number {
  margin: auto;
  color: #4e47ff;
  font-weight: 700;
  font-size: 80px;
}

.score-detail {
  margin: -10px auto;
  max-width: 146px;
  height: 24px;
  font-weight: 400;
  font-size: 18px;
}

/* Get in Touch section  */

.touch {
  display: flex;
  justify-content: space-between;
  margin: 80px auto 120px;
  max-width: 1350px;
  height: 495px;
}

.touch-leftside {
  width: 650px;
  height: 436px;
}

.touch-rightside {
  width: 700px;
  height: 490px;
  margin: 40px 0px 40px 60px;
}

.touch-rightside input,
.touch-rightside textarea {
  margin-bottom: 1.5rem;
}

.touch-leftside-title {
  font-weight: 700;
  font-size: 97px;
}

.touch-form {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.touch-level {
  font-weight: 500;
  font-size: 18px;
  /* gap: 20px; */
}

.touch-inputs {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px 32px;
  font-size: 20;
  font-weight: 400;
}

.touch-button {
  height: 56px;
  width: 156px;
  background-color: #4e47ff;
  color: #ffffff;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  border: none;
}

.touch-button:hover {
  background-color: #3d368d;
  color: white;
}

.touch-rightside input::placeholder,
.touch-rightside textarea::placeholder {
  font-size: 1.2rem;
  font-weight: 500;
  color: #888;
}

/* footer part  */

.footer {
  margin: -20px auto;
  max-width: 1350px;
  height: 300px;
}

.footer-section {
  margin: auto;
  max-width: 650px;
  height: 221px;
}

.website-name {
  margin: 0px;
  text-align: center;
  font-size: 100px;
  font-weight: 900;
  color: #4e47ff;
}

.website-subtile {
  margin: -5px auto;
  width: 531px;
  height: 48px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #8987a1;
}

.website-buttons {
  margin: 30px auto;
  justify-content: space-around;
  text-align: center;
}

.web-button {
  padding: 05px 24px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: #8987a1;
  background-color: white;
}

/* feedback part  */

.feedback {
  margin: auto;
  max-width: 1350px;
  height: 300px;
}

.feedback-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 52px;
  font-weight: 700;
}

.feedback-boxes {
  stroke: #f2eded;
  height: 242px;
  display: flex;
  justify-content: space-around;
}
.star-images {
  margin-top: 10px auto;
}

.box {
  border: 1px solid gray;
  border-radius: 14px;
  padding: 20px 0px 0px 20px;
  width: 30%;
}

.box-title {
  margin-top: 0px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.main-feedback {
  margin-top: 0;
  font-size: 19px;
  font-weight: 400;
}

.feedback-identitites {
  display: flex;
  width: 320px;
  align-items: center;
}

.reviewer-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.nameAndtime {
  margin-top: 0px;
  width: 250px;
  height: 60px;
  font-size: 16px;
  font-weight: 400;
}

.reviewer-name {
  font-size: 18px;
  font-weight: 600;
}

.nameAndtime p,
.nameAndtime data {
  margin: 02px; /* kills the browser’s default <p> margins */
}

/* Extra focus part  */

.focus {
  margin: 100px auto 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1350px;
  height: 820px;
  border: 1px solid gray;
  border-radius: 14px;
}

.focus-title {
  margin: auto;
  font-size: 54px;
  font-weight: 700;
}

.focus-detail {
  margin: -30px auto 40px;
  font-size: 18px;
  font-weight: 400;
}

.focus-button {
  height: 56px;
  width: 206px;
  background-color: #4e47ff;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  margin: -10px auto;
}

.focus-button:hover {
  background-color: #3d368d;
  color: white;
}
.focus-image {
  width: 940px;
  height: 465px;
  border-radius: 48px;
  margin: auto;
}
